
#page{
	width: 800px;
	margin: 0 auto;
	
}
#header{
	width: 100%;
	height: 100%;
    border: thick double rgb(255, 128, 255);;
    margin-bottom: 16px;
    text-align: center;
    color: gray;
   
	
}
#content{
	width: 100%;
	margin-right: 16px;
	margin-bottom: 16px;
	border: thick double rgb(255, 128, 255);
    text-align: center;
  	height: 65vh;
}

#footer{
	width: 100%;
	height: 100px;
	text-align: center;
    border: thick double rgb(255, 128, 255);
    margin-bottom: 16px;
    text-align: center;
  
}

#formInscription{
    display: flex;
    flex-direction: column;
    align-content: center;	
    flex-wrap: wrap;
 }

img {
    width: 9%;
    display: block;
}
input#form\:addUser {
    display: flex;
    position: relative;
    background: rgb(255, 255, 255);
    border-radius: 6px;
    height: 30px;
    left: 14vh;
}
/* Styles for the form */

form#form  {
  margin: 51px auto;
    width: 462px;
    padding: 65px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    text-align: center;
    font-family: Arial, sans-serif;
    border-radius: 30px;
  box-shadow: inset 1px 0px 14px 13px #877676;
}

h3 {
  color: #333;
}

/* Styles for input labels */
h:outputLabel {
  display: block;
  font-weight: bold;
  color: rgb(255, 128, 255);
  margin-bottom: 5px;
}

/* Styles for input fields */
h:inputText, h:inputSecret {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  margin-bottom: 10px;
}

/* Styles for error messages */
h:message {
 
  font-size: 12px;
  margin-top: 5px;
}

/* Styles for success and error messages */
h:outputText {
  display: block;
  margin-top: 10px;
  font-size: 14px;
}

/* Styles for command buttons */
h:commandButton {
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* Spacing for paragraphs */
p {
  margin: 10px 0;
}

